.navbar
{
  font-size:25px;
  text-align: center;
  position: relative;
}
.navbar > .caption
{
  font-size: 15px; 
}
.loginlink
{
  position: absolute;
  top:5px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  right:2%;
  padding:5px;
}
.box
{	
    background: white;
    color: black;
    margin:2%;
    padding:3%;
    box-shadow: 0px 0px 15px black; 
}

body
{
	background:#662D91;
	color:white;
	line-height: 1.5;
	font-size: 1.5rem;	
	word-spacing:0.1px;
	letter-spacing: 2px;
}
/*.about
{
 margin:2%;
}*/
p
{
	font-family: "TTNorms",sans-serif;
	text-align:justify;
}

table
{
	margin :2%;
	padding:2%;
	box-shadow: 0px 0px 15px black; 
}
img
{
 float: left;
 margin-right:2%;
}
.tests
{
	margin-top: 6%;
	clear:left;
}
span:hover
{
	cursor: pointer;
	opacity: 50%;
}
span
{
	font-size: 3rem;
}
.htmllogo,.csslogo,.jslogo
{
	height:5em;
}
th,td 
{
	padding:15px;
	text-align: center;
}