.box
{	
    background: white;
    color: black;
    margin:2%;
    padding:3%;
    box-shadow: 0px 0px 15px black; 
}
.loginBtn
{
 	border: none;
	color: white;
	background-color: #483D8B;
	cursor: pointer;
	letter-spacing: 3px;
	font-size: 30px;
	padding: 15px;
	border-radius: 30px;
}
.loginBtn:hover
{
	background-color:#20B2AA;
	outline:none;
}
body
{
	background:#662D91;
	color:white;
	line-height: 1.5;
	font-size: 1.5rem;	
	word-spacing:2px;
	letter-spacing: 2px;
}
/*.about
{
 margin:2%;
}*/
p
{
	font-family: "TTNorms",sans-serif;
	
}

table
{
	margin :2%;
	padding:2%;
	box-shadow: 0px 0px 15px black; 
}
img
{
 float: left;
 margin-right:2%;

}
.tests
{
	margin-top: 6%;
	clear:left;
}
span:hover
{
	cursor: pointer;
	opacity: 50%;
}
span
{
	font-size: 3rem;
}
.htmllogo,.csslogo,.jslogo
{
	height:5em;
}
th,td 
{
	padding:15px;
	text-align: center;
}